head(lang="es")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Productos
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" id="bootstrap-css")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
    script(src="//code.jquery.com/jquery-1.11.1.min.js") 